<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string></string>
	<key>XC4Compatible</key>
	<true/>
	<key>XCPluginHasUI</key>
	<false/>
	<key>DVTPlugInCompatibilityUUIDs</key>
	<array>
		<string>EFD92DF8-D0A2-4C92-B6E3-9B3CD7E8DC19</string>
		<string>BD431FF2-C78B-4953-A3A9-0E42593C2D32</string>
		<string>42E1F17B-27B3-4DE8-92A8-DC76BA4F5921</string>
		<string>3728DE4A-3870-476F-BAE5-216F52C5710A</string>
	</array>
</dict>
</plist>
